#bold{
    font-weight: bold;
    background-color: rgb(105, 224, 185)
   }

.borderStatus{
    border: 4px solid black;
    border-radius: 12px; 
    color: black;
    padding: 1%
}

.boardo{
    left: 110%
}

